[submodule "ws/src/ouster-ros"]
	path = ws/src/ouster-ros
	url = https://github.com/KumarRobotics/ouster-ros.git
	branch = ros2
[submodule "ws/src/ros2_control"]
	path = ws/src/ros2_control
	url = https://github.com/ros-controls/ros2_control.git
[submodule "ws/src/Faster-LIO-ROS2"]
	path = ws/src/Faster-LIO-ROS2
	url = https://github.com/KumarRobotics/Faster-LIO-ROS2.git
	branch = main
[submodule "ws/src/safety_controller"]
	path = ws/src/safety_controller
	url = https://github.com/frankgon1627/safety_controller.git
[submodule "ws/src/zed-ros2-wrapper"]
	path = ws/src/zed-ros2-wrapper
	url = https://github.com/KumarRobotics/zed-ros2-wrapper.git

